{{template "beginning" .}}
{{template "repo" .}}
<div class="sep"></div>
<div class="view">
  <div class="page log" style="flex-direction: column;">
    <div class="scroll">
      <ul>
        {{range $commit := .commits}}
          <li>
            <div class="commit">
              <div class="headline">
                <span>
                  <a class="link" href="/{{$.username}}/{{$.repo}}/tree/{{$commit.ID}}">{{$commit.ShortID}}</a>
                  -->
                  <a class="link" href="/{{$commit.Author.Name}}">{{$commit.Author.Name}}</a>
                  (<a>{{$commit.Author.Email}}</a>)

                  <button class="secondary">
                    <a href="/{{$.username}}/{{$.repo}}/diff/{{$commit.ID}}">diff</a>
                  </button>
                </span>
                
                <a class="time">{{$commit.Time}}</a>
              </div>
              <a>{{$commit.Name}}</a>
              {{if ne $commit.Description ""}}
                <div class="description">
                  <span>{{$commit.Description}}</span>
                </div>
              {{end}}
            </div>
          </li>
        {{end}}
      </ul>
    </div>
    <div class="pages">
      <button {{if eq .prevpage 0}}disabled{{end}}>
        <a {{if ne .prevpage 0}}href="/{{$.username}}/{{$.repo}}/log/{{.prevpage}}"{{end}}>Prev page</a>
      </button>
      <button><a href="/{{$.username}}/{{$.repo}}/log/{{.nextpage}}">Next page</a></button>
    </div>
  </div>
</div>
{{template "end"}}