{{template "beginning" .}}
<nav class="title">
  <a>login</a>
</nav>
<div class="sep"></div>
<div class="view">
  <div class="login">
    {{if .error}}
      <h3 style="color: red">{{.message}}</h3>
    {{end}}
    <form action="/login" method="POST">
      <div>
        <label for="username">Username</label>
        <input autocorrect="off" autocapitalize="off" spellcheck="false" type="text" name="username" id="username">
      </div>

      <div>
        <label for="password">Password</label>
        <input autocorrect="off" autocapitalize="off" spellcheck="false" type="password" name="password" id="password">
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</div>
{{template "end"}}