{{template "beginning" .}}
<nav class="title">
  <a>register</a>
</nav>
<div class="sep"></div>
<div class="view">
  <div class="login register">
    {{if .error}}
      <h3 style="color: red">{{.message}}</h3>
    {{end}}
    <form action="/register" method="POST">
      <div>
        <div>
          <label for="username">Username</label>
          <input autocorrect="off" autocapitalize="off" spellcheck="false" type="text" name="username" id="username">
        </div>
        <div>
          <label for="password">Password</label>
          <input autocorrect="off" autocapitalize="off" spellcheck="false" type="password" name="password" id="password">
        </div>
      </div>

      <div>
        <div>
          <label for="firstname">Firstname</label>
          <input autocorrect="off" autocapitalize="on" spellcheck="false" type="text" name="firstname" id="firstname">
        </div>
        <div>
          <label for="lastname">Lastname</label>
          <input autocorrect="off" autocapitalize="on" spellcheck="false" type="text" name="lastname" id="lastname">
        </div>
      </div>
      <div>
        <div>
          <label for="email">Email</label>
          <input autocorrect="off" autocapitalize="on" spellcheck="false" type="email" name="email" id="email">
        </div>
        <div>
          <label for="description">Description</label>
          <textarea name="description" id="description"></textarea>
        </div>
      </div>

      <button type="submit">Register</button>
    </form>
  </div>
</div>
{{template "end"}}