@import "vars";

div.diff {
  margin: 0 300px;
  width: calc(100% - 600px);
  flex-direction: column;

  @media (min-width: 320px) and (max-width: 700px) {
    margin: 0 @padding;
    width: calc(100% - 2*@padding);
  }

  div.commit:first-child {
    margin-bottom: @padding*4;

    div.stats {
      float: right;
    }

    a.insertions { color: @green; }
    a.deletions { color: @red; }
  }

  div.commit:not(:first-child) {
    overflow-x: auto;
    padding: 0;

    div.headline {
      margin: 0;
      padding: 0 @padding;
      background: @primary-color;
      color: @primary-text;
    }

    div {
      &.added { background: @transparent-green; }
      &.deleted { background: @transparent-red ; }
      &.header { background: darken(@background-darker, 10); }

      pre { margin: 0 }
    }
  }
}