@import "fonts";
@import "vars";
@import "navbars";
@import "texts";
@import "views";

body {
  margin: 0;
  font-family: @fontfamily;
  font-size: @fontsize;
  background: @background;
  color: @text-color;
}