@import "vars";

div.log {
  overflow: auto;

  @media (min-width: 320px) and (max-width: 480px) {
    overflow: unset;
  }

  ul {
    list-style: none;
    padding: 0 @padding * 2;
    margin: 0;

    li {
      background: @background-darker;
      padding: @padding;
      margin: @padding;

      div.headline {
        display: flex;
        justify-content: space-between;
        margin-bottom: @padding/1.5;

        .time { color: @primary-color; }
      }

      // Description
      div.description {
        margin-top: @padding;
      }
    }
  }
}