div.settings {
  @media (min-width: 320px) and (max-width: 480px) {
    margin: @padding;
    flex-direction: column;
  }

  div.right {
    margin-right: @padding * 3;

    ul {
      padding: 0;
      list-style: none;
    }

    @media (min-width: 320px) and (max-width: 480px) {
      margin-right: 0;
    }
  }

  div.left {
    border-left: 2px solid @background-darker;
    padding-left: @padding * 3;
    flex: 1;
    overflow: auto;

    div:not(:nth-child(1)) h2 {
      border-top: 2px solid @background-darker;
    }

    div div {
      padding-left: @padding;
    }

    h2 {
      padding: @padding/2 0;
    }

    @media (min-width: 320px) and (max-width: 480px) {
      border: none;
      padding-left: 0;
      overflow: unset;

      div input {
        width: calc(100% - @padding);
      }
    }
  }
}