@import "vars";

div.view {
  width: 100%;
  display: flex;

  div.page {
    margin: 0 400px;
    width: calc(100% - 800px);
    display: flex;
  }
  
  div.markdown {
    flex-direction: column;
    overflow: auto;
  }

  @import "settings";

  @import "tree";

  @import "user";

  @import "log";

  @import "diff";
}